<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_role_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{87,151}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{215,1},{87,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{99,159}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{229,311},{99,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{81,161}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{425,313},{81,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{125,155}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{195,154},{125,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,159}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{330,313},{93,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{111,157}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{116,311},{111,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{85,161}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{100,470},{85,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{89,147}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{103,155}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{90,150},{103,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{87,155}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{322,154},{87,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{105,165}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{393,476},{105,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{89,151}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{304,1},{89,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{87,157}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{411,154},{87,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{113,155}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{1,307},{113,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,159}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{1,464},{97,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{121,147}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{92,1},{121,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{87,153}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{1,150},{87,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{119,161}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{187,472},{119,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{89,151}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{395,1},{89,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_role_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{83,163}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{308,474},{83,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerRole.png</string>
            <key>size</key>
            <string>{507,642}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0a0331030141a696f07c86c5c5b79ef:f8f27574b52b7ba2407fecfa4c54cadd:f74640cc2a0ce3b29a633e9ffceafb96$</string>
            <key>textureFileName</key>
            <string>playerRole.png</string>
        </dict>
    </dict>
</plist>
